[Unit]
Description=App Menu (Next.js)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/webmenu
EnvironmentFile=/etc/webmenu.env
Environment=NODE_ENV=production
Environment=DATA_DIR=/var/lib/webmenu
ExecStart=/usr/bin/npm start -- -p 4000
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
